<div>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" ui-sref="landingPage">{{vm.title}}</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Header -->
    <!--<a name=""></a>-->
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Aventa. Fresh air to you!</h1>
                        <h3></h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.intro-header -->
    <!-- About -->
    <a name="about"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">About Aventa Comm.v</h2>
                    <p class="lead">We are a Bulgarian company with headquaters in Sofia. We are involved in ventilation and air conditioning. For many years we used to work on the Bulgarian market, and for the last 5 years we are operating in Belgium.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="content/img/boutUs.png" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- Page Content -->
    
    <!-- /.content-section-a -->
    <div class="content-section-b">
        <a name="services"></a>
        <div class="content-section-a">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">What do we offer? Ventilation.</h2>
                        <p class="lead">
                            - Installation of any ventilation and ventilation equipment. <br />
                            - Large external ventilation machines. <br />
                            - Industrial ventilation <br />
                            - Domestic ventilation <br />
                            - CLV <br />
                        </p>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive" src="content/img/industr.jpg" alt="">
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">What do we offer? Air conditioning.</h2>
                    <p class="lead">
                        - Installation. <br />
                        - Repair. <br />
                        - Maintenance. <br />
                        - Heat pumps. <br />
                        - VRV and VRF systems. <br />
                        - Boilers and floor heating.<br />
                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="content/img/airCond.jpg" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-b -->
    <!--<div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Google Web Fonts and<br>Font Awesome Icons</h2>
                    <p class="lead">This template features the 'Lato' font, part of the <a target="_blank" href="http://www.google.com/fonts">Google Web Font library</a>, as well as <a target="_blank" href="http://fontawesome.io">icons from Font Awesome</a>.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="content/img/phones.png" alt="">
                </div>
            </div>
        </div>
    </div>-->
    <!-- /.content-section-a -->
    <a name="contact"></a>
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2><i class="fa fa-home fa-fw"></i> <span class="network-name"></span>Hundelgemsesteenweg 556, Merelbeke, België</h2>  
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h2><i class="fa fa-user fa-fw"></i> <span class="network-name"></span>Ivailo Rachev</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h2><i class="fa fa-user fa-fw"></i> <span class="network-name"></span>Atanas Momchilov</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Find us on <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a></h2>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.banner -->
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Aventa 2016. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
</div>