<div>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" ui-sref="landingPage">{{vm.title}}</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling change..-->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li>
                        <a href="#gallery">Gallery</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Header -->
    <!--<a name=""></a>-->
    <div class="intro-header">
        <div class="container header-container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Am-vent. Fresh air to you!</h1>
                        <h3></h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://www.linkedin.com/company-beta/18081718/" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.intro-header -->
    <!-- About -->
    <a name="about"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-push-6 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">About Am-vent Comm.v</h2>
                    <p class="lead">
                        <span class="tab"></span>We are young Belgian company specialized in the areas of ventilation and air conditioning.
                        Our experience, based upon more than 7 years of professional background on the Belgian market, have contributed for
                        our business culture that provides responsibility, loyalty and guarantees perfectly completed work. <br /><br /><span class="tab"></span> Our projects vary
                        from small to industrial ventilation systems. Currently one of our clients is the company that constructs Lidl in Belgium.
                        If you are interested to work together in the future, let us know. We are working with budget or per hour. We are looking forward to hear from you.
                    </p>
                </div>
                <div class="col-lg-6 col-sm-pull-6  col-sm-6 image-center">
                    <img class="img-responsive" src="content/img/boutUs.png" alt="about us" />
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- Page Content -->
    <!-- /.content-section-a -->
    <div class="content-section-b">
        <a name="services"></a>
        <div class="content-section-a">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">What do we offer? Ventilation.</h2>
                        <ul class="lead weoffer">
                            <li>
                                Installation of any ventilation and ventilation equipment
                            </li>
                            <li>
                                Large external ventilation machines
                            </li>
                            <li>
                                Industrial ventilation
                            </li>
                            <li>
                                Domestic ventilation
                            </li>
                            <li>
                                CLV
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-sm-6 image-center">
                        <img class="img-responsive" src="content/img/industr.jpg" alt="">
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">What do we offer? Air conditioning.</h2>
                    <ul class="lead weoffer">
                        <li>
                            Installation
                        </li>
                        <li>
                            Repair
                        </li>
                        <li>
                            Maintenance
                        </li>
                        <li>
                            Heat pumps
                        </li>
                        <li>
                            VRV and VRF systems
                        </li>
                        <li>
                            Boilers and floor heating
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 col-sm-pull-6 col-sm-6 image-center">
                    <img class="img-responsive" src="content/img/airCond.jpg" alt="">
                </div>
            </div>
        </div>

        <!--<div class="container some-work-gallery">
            <script>
                jQuery(document).ready(function ($) {

                    $('#myCarousel').carousel({
                        interval: 5000
                    });

                    //Handles the carousel thumbnails
                    $('[id^=carousel-selector-]').click(function () {
                        var id_selector = $(this).attr("id");
                        try {
                            var id = /-(\d+)$/.exec(id_selector)[1];
                            //console.log(id_selector, id);
                            jQuery('#myCarousel').carousel(parseInt(id));
                        } catch (e) {
                            //console.log('Regex failed!', e);
                        }
                    });
                    // When the carousel slides, auto update the text
                    $('#myCarousel').on('slid.bs.carousel', function (e) {
                        var id = $('.item.active').data('slide-number');
                        $('#carousel-text').html($('#slide-content-' + id).html());
                    });
                });
            </script>
            <div id="main_area">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="section-heading">Some of our work</h2>
                        <div class="col-lg-12" id="slider">
                            <div class="row">
                                <div class="col-lg-12" id="carousel-bounding-box">
                                    <div class="carousel slide" id="myCarousel">
                                        <div class="carousel-inner">
                                            <div class="active item" data-slide-number="0">
                                                <img src="../../content/gallery/constructionSite16.jpg" />
                                            </div>
                                            <div class="item" data-slide-number="1">
                                                <img src="../../content/gallery/constructionSite18.jpg" />
                                            </div>
                                            <div class="item" data-slide-number="2">
                                                <img src="../../content/gallery/constructionSite23.jpg" />
                                            </div>
                                            <div class="item" data-slide-number="3">
                                                <img src="../../content/gallery/constructionSite25.jpg" />
                                            </div>
                                            <div class="item" data-slide-number="4">
                                                <img src="../../content/gallery/constructionSite28.jpg" />
                                            </div>

                                            <div class="item" data-slide-number="6">
                                                <img src="../../content/gallery/constructionSite37.jpg" />
                                            </div>

                                            <div class="item" data-slide-number="7">
                                                <img src="../../content/gallery/constructionSite4.jpg" />
                                            </div>

                                            <div class="item" data-slide-number="8">
                                                <img src="../../content/gallery/constructionSite5.jpg" />
                                            </div>

                                            <div class="item" data-slide-number="9">
                                                <img src="../../content/gallery/constructionSite6.jpg" />
                                            </div>

                                            <div class="item" data-slide-number="10">
                                                <img src="../../content/gallery/constructionSite8.jpg" />
                                            </div>

                                            <div class="item" data-slide-number="11">
                                                <img src="../../content/gallery/constructionSite9.jpg" />
                                            </div>
                                        </div>
                                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                        </a>
                                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
    <!-- /.content-section-b -->
    <!--<div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Google Web Fonts and<br>Font Awesome Icons</h2>
                    <p class="lead">This template features the 'Lato' font, part of the <a target="_blank" href="http://www.google.com/fonts">Google Web Font library</a>, as well as <a target="_blank" href="http://fontawesome.io">icons from Font Awesome</a>.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="content/img/phones.png" alt="">
                </div>
            </div>
        </div>
    </div>-->
    <!-- /.content-section-a -->
    <a name="gallery"></a>
    <div class="content-section-a">
        <div class="container">
            <section>
                <h2 class="section-heading">Latest projects</h2>
                <div class="content">
                    <div class="row">
                        <div ng-repeat="folder in vm.gallery track by folder.name">
                            <div class="col-xs-6 col-sm-4">
                                <div class="thumbnail">
                                    <a href="#">
                                        <img class="adaptive-img" ng-src="{{folder.picture}}" ng-click="vm.showGallery(folder.name)"/>
                                    </a>

                                    <div class="caption">
                                        <a href="#" ng-click="vm.showGallery(folder.name)"><h4 class="h4 black">{{folder.title}} </h4></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="row">
                <div ng-repeat="folder in vm.gallery track by folder.name">
                    <ul class="slide-list{{folder.name}}" id="slide-list" ng-hide="vm.galleryFolderByName(folder.name).hide">
                        <li class="col-xs-6 col-sm-4 col-md-3 thumbnail" 
                            ng-repeat="s in vm.galleryFolderByIndex($index) track by $index" 
                            ng-click="vm.openGallery(folder.name, $index)">
                            <img ng-src="{{ s.src }}" alt="slide number {{ $index }}" class="adaptive-img img-responsive"/>
                        </li>
                    </ul>

                    <div ng-photoswipe
                         slides="vm.galleryFolderByName(folder.name).slides"
                         open="vm.galleryFolderByName(folder.name).isOpen"
                         slide-selector=".slide-list{{folder.name}} > li > img"
                         on-close="vm.closeGallery(folder.name)"
                         options="vm.galleryFolderByName(folder.name).options">
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <a name="contact"></a>
    <div class="banner">
        <div class="container contactinfobanner">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2><i class="fa fa-user fa-fw"></i> <span class="network-name"></span>Ivailo Rachev <br /><i class="fa fa-phone fa-fw"></i>+32466294107</h2>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2><i class="fa fa-user fa-fw"></i> <span class="network-name"></span>Atanas Momchilov <br /><i class="fa fa-phone fa-fw"></i>+32468294991</h2>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2><i class="fa fa-home fa-fw"></i> <span class="network-name"></span> <span style="word-break: break-all">Hundelgemsesteenweg</span> 556, Merelbeke, België</h2>
                </div>
            </div>
            <br />
            <!--<div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Find us on <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a></h2>
                </div>
            </div>-->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.banner -->
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Am-vent 2016. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
</div>