<div class="row">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Детайли за '{{vm.updatedClient.companyName}}'</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="col-lg-12">
        <div class="row">
            <div class="col-xs-12 row text-center">
                <i class="fa fa-user fa-5x huge"></i>
            </div>
        </div>
        <div class="row">
            <form class="form-horizontal" name="editClientsDetailsForm">
                <fieldset>
                    <div class="form-group" show-errors-directive>
                        <div class="col-lg-10 input-group col-lg-offset-1">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" ng-model="vm.updatedClient.firstName" class="form-control" name="firstname" id="firstname" required="required" placeholder="Име" ng-disabled="vm.isNotEditMode">
                        </div>
                    </div>
                    <div class="form-group" show-errors-directive>
                        <div class="col-lg-10 input-group col-lg-offset-1">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" ng-model="vm.updatedClient.lastName" class="form-control" name="lastname" id="lastname" required="required" placeholder="Фамилия" ng-disabled="vm.isNotEditMode">
                        </div>
                    </div>
                    <div class="form-group" show-errors-directive>
                        <div class="col-lg-10 input-group col-lg-offset-1">
                            <span class="input-group-addon"><i class="fa fa-users fa-fw"></i></span>
                            <input type="text" ng-model="vm.updatedClient.companyName" class="form-control" name="companyname" id="companyname" required="required" pattern=".{2,}" placeholder="Име на фирмата" ng-disabled="vm.isNotEditMode">
                        </div>
                    </div>
                    <div class="form-group" show-errors-directive>
                        <div class="col-lg-10 input-group col-lg-offset-1">
                            <span class="input-group-addon"><i class="fa fa-phone fa-fw"></i></span>
                            <input type="text" ng-model="vm.updatedClient.phoneNumber" class="form-control" name="phonenumber" id="phonenumber" placeholder="Телефон за връзка" ng-disabled="vm.isNotEditMode">
                        </div>
                    </div>
                    <div class="form-group" show-errors-directive>
                        <div class="col-lg-10 input-group col-lg-offset-1">
                            <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                            <input type="email" ng-model="vm.updatedClient.email" class="form-control" name="inputEmail" id="inputEmail" placeholder="Е-мейл" ng-disabled="vm.isNotEditMode">
                        </div>
                    </div>
                    <!--<div class="form-group">
                        <label for="inputPassword" class="col-lg-2 control-label">Парола</label>
                        <div class="col-lg-10">
                            <input type="password" ng-model="user.password" class="form-control" id="inputPassword" required="required" placeholder="Парола">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword" class="col-lg-2 control-label">Потвърди паролата</label>
                        <div class="col-lg-10">
                            <input type="password" ng-model="user.confirmPassword" class="form-control" id="confirmPassword" required="required" placeholder="Потвърди паролата">
                        </div>
                    </div>-->
                    <div class="form-group" ng-show="vm.isNotEditMode" ng-hide="!vm.canEdit">
                        <div class="col-lg-10 col-lg-offset-1 top-buffer-pixels">
                            <button ng-click="vm.toggleEditMode()" class="btn btn-outline btn-warning btn-lg btn-block"><i class="fa fa-pencil fa-fw"></i> Редактирай</button>
                        </div>
                        <div class="col-lg-10 col-lg-offset-1 top-buffer-pixels">
                            <button ng-click="vm.deleteClient()" class="btn btn-outline btn-danger btn-lg btn-block"><i class="fa fa-trash-o fa-lg"></i>  Изтрий</button>
                        </div>
                    </div>
                    <div class="form-group" ng-hide="vm.isNotEditMode">
                        <div class="col-lg-10 col-lg-offset-1 top-buffer-pixels">
                            <button ng-click="vm.editClient(vm.updatedClient, editClientsDetailsForm)" ng-disabled="editClientsDetailsForm.$invalid" class="btn btn-outline btn-success btn-lg btn-block"><i class="fa fa-check"></i> Запази</button>
                        </div>
                        <div class="col-lg-10 col-lg-offset-1 top-buffer-pixels">
                            <button ng-click="vm.toggleEditMode()" class="btn btn-outline btn-danger btn-lg btn-block"><i class="fa fa-close"></i> Отказ</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>