<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Контролен панел</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        
        <dashboard-stats-directive number="2" comments="Отчета за 09.09.2016!" colour="success" type="comments"></dashboard-stats-directive>
        <dashboard-stats-directive number="4" comments="Работника!" colour="primary" type="user"></dashboard-stats-directive>
        <dashboard-stats-directive number="6" comments="Строителни обекта!" colour="yellow" type="building-o"></dashboard-stats-directive>
        <dashboard-stats-directive number="144" comments="Часа общо!" colour="red" type="support"></dashboard-stats-directive>

    </div>
    
    <!-- /.panel -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Последно ...
                </div>
                <!-- /.panel-heading -->
                <dashboard-timeline-directive></dashboard-timeline-directive>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
