<div>
    <div id="wrapper">
        <!-- Navigation -->

        <header></header>
        <!-- /.navbar-top-links -->
        <!-- /.navbar-static-side -->
        <div id="page-wrapper" style="min-height: 561px;">
            <div ui-view>

                <button class="btn btn-primary" ng-click="vm.press()">Submit</button>
                <div>
                    {{vm.title}}as
                </div>
            </div>
        </div>
        <!-- /#page-wrapper -->
    </div>
</div>
